* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-main {
    flex-grow: 1;
    background-color: #F5F5F1;
    padding-top: 30px;
}

.app-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;
    gap: 10px;
    background-color: #F5F5F1;
}

h1 {
    text-transform: uppercase;
    font-weight: 300;
}

p {
    font-weight: 100;
}

.col {
    flex-basis: calc(100/3);
    padding: 0 15px;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}

img {
    width: 100%;
    display: block;
}

.card-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    gap: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}